
@{
    ViewBag.Title = "Servies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Services</h2>
                <div class="page_link">
                    @Html.ActionLink("Home", "Index", "Home")
                    @Html.ActionLink("Services", "Index", "Services")
                </div>
            </div>
        </div>
    </div>
</section>
<

<!--================Work Area =================-->
<section class="work_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>How It work for you</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
        <div class="work_inner row">
            <div class="col-lg-4">
                <div class="work_item">
                    <i class="lnr lnr-screen"></i>
                    <a href="#"><h4>Stunning Visuals</h4></a>
                    <p>Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work_item">
                    <i class="lnr lnr-code"></i>
                    <a href="#"><h4>Stunning Visuals</h4></a>
                    <p>Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work_item">
                    <i class="lnr lnr-clock"></i>
                    <a href="#"><h4>Stunning Visuals</h4></a>
                    <p>Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Work Area =================-->
<section class="impress_area p_120">
    <div class="container">
        <div class="impress_inner">
            <h2>Got Impressed to our features?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            <a class="banner_btn2" href="#">Request Free Demo</a>
        </div>
    </div>
</section>