@model List<Nexus.Models.Advantage>

<section class="made_life_area p_120">
    <div class="container">
        <div class="made_life_inner">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                @foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link" id="aria-labelledby-@item.Id" data-toggle="tab" href="#tab-@item.Id" role="tab" aria-controls="home" aria-selected="@{item.Id==1}">
                            @item.Name
                    </a>
                </li>
            }

            </ul>
            <div class="tab-content" id="myTabContent">
                @foreach (var item in Model)
                {
                    <div class="tab-pane fade" id="tab-@item.Id" role="tabpanel" aria-labelledby="aria-labelledby-@item.Id">
                        <div class="row made_life_text">
                            <div class="col-lg-6">
                                <div class="left_side_text">
                                    <h3>We’ve made a life <br />that will change you</h3>
                                    <h6>@item.Title</h6>
                                    <p>@item.Description</p>
                                    <a class="main_btn" href="#">Get Started Now</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="chart_img">
                                    <img class="img-fluid" src="~/Content/img/chart.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!--================End Made Life Area =================-->
